{% extends "layouts/base.html" %}
{% load static %}
{% block title %} List of Books {% endblock title %}

{% block content %}
  <h1 style="color: purple;">List of Books</h1> <!-- Inline CSS -->
  <p style="color: yellow; background-color: black;">Explore the books we have in our collection.</p> <!-- Inline CSS -->
  <ul>
    <li><a href="{% url 'books.one_book' book_id=1 %}">Book 1</a></li>
    <li><a href="{% url 'books.one_book' book_id=2 %}">Book 2</a></li>
    <li><a href="{% url 'books.one_book' book_id=3 %}">Book 3</a></li>
    <!-- Add more books dynamically -->
  </ul>
{% endblock content %}
